@charset "UTF-8";
/* 스타일링 코드 */
		body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #fff;
        }
        header {
            display: flex;
            align-items: center;
            background-color: #58ACFA;
            padding: 10px;
            border-bottom: 1px solid lightgrey;
            justify-content: space-between;
        }
        .back-button {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        .back-button img {
            width: 24px;
            height: 24px;
        }
        .header-title {
            color: white;
            font-size: 1.5rem;
            margin-left: 10px;
        }
        .header-logo {
            width: 40px;
            height: 40px;
        }
        .logo-section {
        	margin-top: 100px;
            text-align: center;
            padding: 20px 0;
            background-color: #fff;
        }
        .logo-icon {
            max-width: 200px;
            height: auto;
        }
        .content-section {
        	
            padding: 20px;
            text-align: center;
            background-color: #fff;
        }
        .description {
            margin-bottom: 20px;
        }
        .signup-button {
            width: 80%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
        }
        .email-signup {
            background-color: #58ACFA;
            color: white;
        }
        .login-section {
            margin-top: 20px;
        }
        .login-section a {
            color: skyblue;
            text-decoration: none;
            font-size: 0.9rem;
        }
        
        main {
            flex: 1;
            padding-bottom: 60px; /* footer height */
        }